/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* font */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", sans-serif;
}

/* scrollbar */
/* Menyesuaikan warna latar belakang dan lebar scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  margin-left: 10px;
}

/* Warna track scrollbar */
::-webkit-scrollbar-track {
  background: #d9d9d9;
}

/* Warna thumb scrollbar */
::-webkit-scrollbar-thumb {
  background: #0A6847;
}

/* Menghilangkan tombol panah scrollbar */
::-webkit-scrollbar-button {
  display: none;
}
/* scrollbar */


/* input file gambar button */
input[type=file]::file-selector-button {
  /* margin-right: 20px; */
  margin-left: 0px;
  text-align: center;
  border: none;
  background: #0A6847;
  padding: 8px 20px;
  border-radius: 48px;
  color: #fff;
  cursor: pointer;
  transition:  .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0B573C;
}
/* input file gambar button */
